/* -----------------------------------------------------------------------------
   Global buttons.
   -------------------------------------------------------------------------- */
.plain-button {
    background: none;
    border-radius: 0;
    border: 0;
    font-size: 2.5rem;
    outline: 0;
    padding: 0;
}
