.device-screen {
    margin: 2rem;
    position: relative;

    &.-resizable > .iframe {
        resize: both;
    }

    &::after {
        display: block;
        font-family: monospace;
        margin-left: inherit;
        margin-right: inherit;
        margin-top: 0.25rem;
    }

    &[data-label]::after {
        content: attr(data-label);
    }

    &[data-width][data-height]::after {
        content: attr(data-width) "\d7" attr(data-height);
    }

    &[data-width][data-height][data-label]::after {
        content: attr(data-width) "\d7" attr(data-height) "\a0\a0\a0" attr(data-label);
    }

    &:hover > .close {
        display: block;
    }

    > .close {
        display: none;
        line-height: 0.75;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;

        &::before {
            content: "\00d7";
        }
    }

    > .iframe {
        border: 0.1875rem solid _color(black);
        display: block;
        margin-left: inherit;
        margin-right: inherit;
    }
}
