/* -----------------------------------------------------------------------------
   Generic styles.
   -------------------------------------------------------------------------- */
*,
::before,
::after {
   box-sizing: inherit;
}

:root {
   box-sizing: border-box;
   color: _color(text-primary);
   font-family: _font(primary-font-family);
   min-width: 50rem;
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.25);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.25);
}

:-ms-input-placeholder {
   color: rgba(0, 0, 0, 0.25);
}
