/* -----------------------------------------------------------------------------
   Generic styles.
   -------------------------------------------------------------------------- */
*,
::before,
::after {
   box-sizing: inherit;
}

:root {
   box-sizing: border-box;
   color: _color(text-primary);
   font-family: _font(primary-font-family);
   min-width: 50rem;
}

::placeholder {
   color: rgba(_color(text-primary), 0.25);
}
